html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.portfolio:hover {
  background: #5faf46;
  opacity: 0.9;
}
.portfolio a:hover {
  color: #ffffff;
}

.portfolio small {
  font-size: 12px;
  font-style: italic;
}

.jumbotron {
  margin-top: -12px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  margin-bottom: 12px;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.novo_contato {
  float: right;
  margin-top: -42px;
}

.pagination {
  justify-content: center!important;
}

.carousel-inner {
  height: 400px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption {
    position: absolute;
    bottom: 0px !important;
    z-index: 10;
    padding-top: 7px !important;
    padding-bottom: 21px !important;
    color: #fff;
    text-align: center;
    background: black;
    width: 100%;
    opacity: 0.8;
    left: 0 !important;
}

.carousel-control-prev {
    left: 100px !important;
}

.carousel-control-next {
    right: 100px !important;
}

.buscaNav {
  margin-top: 12px;
  margin-bottom: 18px;
}

.hero__form {
    max-width: 250px;
    margin-left: auto;
}

.form-group--search {
    position: relative;
}

.form-group--search--left .btn-submit {
    left: 10px;
}

.form-group--search .btn-submit {
    background: transparent;
    border: none;
    position: absolute;
    top: -1px;
    height: 100%;
    color: #838E95;
    padding-left: 2px;
    padding-right: 0;
}

.form-group--search--left .form-control, .form-group--search--left .input-text, .form-group--search--left #user_login, .form-group--search--left #user_pass {
    padding-left: 38px;
    border-radius: 25px;
}
